<figcaption>
    <a class="pl-button pl-addcart" data-placement="top" data-toggle="tooltip" (click)="addToCart()" title="" data-original-title="Add To Cart">
      <i class="icon-bag"></i>
    </a>
    <a class="pl-button pl-qview" [routerLink]="['/product/',product.Id]" data-placement="top" data-toggle="tooltip" title="" data-original-title="Quick View">
      <i class="icon-eye"></i>
    </a>
    <a class="pl-button pl-wishlist" data-placement="top" data-toggle="tooltip" (click)="addToWishlist()" title="" data-original-title="Add To Wish List">
      <i class="icon-heart"></i>
    </a>
  </figcaption>