<div class="col-md-3 hidden-sm hidden-xs">
  <div *ngIf="!isUserLoggedIn || (isUserLoggedIn && context != null)" id="shopping-cart-wrapper" class="dropdown">
    <a href="#" class="shp-ca" attr.data-toggle="{{isUserLoggedIn && cartItems != null && cartItems.length > 0 ? 'dropdown' : ''}}">
      <div class="s-bag-1">
        <i class="icon-bag"></i>
      </div>
      <div class="s-cart-pan">
        <div *ngIf="isUserLoggedIn" class="s-bag-2">
          <span class="dd-products-count">{{totalQty}}</span> item(s) <span class="active dd-products-price">/ ₹{{totalPrice}}.00</span>
        </div>
        <div *ngIf="!isUserLoggedIn" class="s-bag-2">
          Please Login to shop.
        </div>
      </div>
    </a>
    <div *ngIf="cartItems != null && cartItems.length > 0" class="dropdown-menu dropdown-menu-right larger text-left" role="menu">
      <span class="dropdown-triangle-up"></span>
      <a href="#" class="dd-close-btn"><i class="icon_close"></i></a>
      <div class="dropdown-head">
        <h4 class="pull-left">{{totalQty}} items in the shopping bag</h4>
      </div>
      <div class="dd-wrapper">
        <div *ngIf="cartItems != null && cartItems.length == 0" class="dd-list-empty">There is no product in shopping cart!</div>
        <div *ngIf="cartItems != null && cartItems.length > 0" id="cart-product-group" class="dropdown-product-list">
          <div *ngFor="let item of cartItems" class="dd-product-group" id="pr5">
            <div class="dd-product-box pull-left">
              <a title="product name">
                <img src="{{item.product.imageUrl}}" alt="{{item.product.name}}">
              </a>
            </div>
            <div class="dd-product-desc pull-left">
              <a class="title">{{item.product.name}}</a>
              <div class="qty">{{item.quantity}} x <span class="active">₹{{item.product.price}}.00</span></div>
              <a href="#" class="close-btn ddr"><i class="icon_close"></i></a>
            </div>
          </div>
          <div class="text-center clear-all-btn">
            <span class="cart-block-subtotal">
              Cart Subtotal: ₹{{totalPrice}}.00
            </span>
          </div>
        </div>
        <div *ngIf="cartItems != null && cartItems.length > 0" class="row no-gutter">
          <div class="col-xs-6">
            <a href="cart" class="btn btn-md btn-third-col btn-w100">View Cart</a>
          </div>
          <div class="col-xs-6">
            <a href="checkout" class="btn btn-md btn-third-col btn-w100">Procced to Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>