<div class="pg-body">
  <div class="container">
    <div class="row">
      <div class="container">
        <table class="user-info">
          <tbody>
            <tr>
              <td class="picture">
                <div class="img-cover"><img src="assets/images/av_2.jpg" alt=""></div>
                <h6 *ngIf="loggedInUser != null" class="name">{{loggedInUser.profile.name}}</h6>
                <div class="change-picture">
                  <i class="icon-camera"></i>
                  <a href="#">Change picture</a>
                </div>
              </td>
              <td>
                <div class="col-xs-12 wellcome">
                  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                    <h4 *ngIf="loggedInUser != null">Good Morning <span>{{loggedInUser.profile.given_name}}</span></h4>
                    <p>Welcome to your account. Here you can
                      manage all of your personal information.</p>
                  </div>
                  <div class="col-lg-5 col-xs-12 col-sm-6 pull-right">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">
                        <p class="my-orders">My Orders:</p>
                        <p *ngIf="context != null">You have {{context.customer.cart.length}} item in your cart</p>
                      </div>
                      <div class="col-xs-12 col-sm-6 view-cart">
                        <button class="btn btn-sec-col"><i class="icon-bag"></i>&nbsp;&nbsp;VIEW CART</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 last">
                  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
                    <p>Last loged on:<span> 19.06.2016 – 10:23 pm</span></p>
                  </div>
                  <div class="col-lg-5 col-xs-12 col-sm-6 pull-right">
                    <div class="row">
                      <p class="col-xs-12">Last item ordered:<span> Majestic Beecroft Sweater</span> <span class="price">$800</span></p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2 left-menu">
        <a (click)="openProfile()">
          <div class="{{isProfileOpen ? 'active' : ''}}"><i class="icon-user"></i><br><span>YOUR PROFILE</span></div>
        </a>
        <a (click)="openWishlist()">
          <div class="{{isWishlistOpen ? 'active' : ''}}"><i class="icon-heart"></i><br><span>WISHLIST</span></div>
        </a>
        <a (click)="openOrderHistory()">
          <div class="{{isOrderHistoryOpen ? 'active' : ''}}"><i class="icon-clock"></i><br><span>HISTORY</span></div>
        </a>
      </div>
      <div *ngIf="isProfileOpen"><profile-details [customerContextData]="context" [loggedInUserData]="loggedInUser"></profile-details></div>
      <div *ngIf="isWishlistOpen"><wishlist [customerContextData]="context"></wishlist></div>
      <div *ngIf="isOrderHistoryOpen"><profile-details [customerContextData]="context" [loggedInUserData]="loggedInUser"></profile-details></div>
    </div>
  </div>
</div>