<!-- footer-1 begin -->
<div id="footer-1">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="most-popular-box box-with-pager mobile-collapse">
               <div class="title-type-1 mobile-collapse-header">
                  Most Popular
               </div>
               <div class="mobile-collapse-body">
                  <ul class="vertical-bx-1">
                     <li>
                        <a href="product-page.html">
                           <figure>
                              <span class="img-cover"><img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8592885/2019/2/6/74628475-5599-4a99-aa18-2a2ec88eb9501549451123328-Puma-Unisex-Duffel-Bag-9071549451122293-1.jpg"
                                    alt="image name" class="pic"></span>
                              <figcaption>
                                 Black Bag
                                 <span class="price">$90.00</span>
                              </figcaption>
                           </figure>
                        </a>
                        <a href="product-page.html">
                           <figure>
                              <span class="img-cover"><img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/6818529/2018/7/30/4225888f-fa36-465d-b79e-8815da5fb10c1532930323398-Harvard-Men-Green-Regular-Fit-Checked-Casual-Shirt-100153293-1.jpg"
                                    alt="image name" class="pic"></span>
                              <figcaption>
                                 Pure Cotton Shirt Slim Fit
                                 <span class="price">$30.00</span>
                              </figcaption>
                           </figure>
                        </a>
                        <a href="product-page.html">
                           <figure>
                              <span class="img-cover"><img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/6960538/2018/7/25/468c442c-0fbe-40fc-8e82-f70fa89622241532516553894-United-Colors-of-Benetton-Men-Navy-Blue--White-Slim-Fit-Checked-Casual-Shirt-211532516553711-1.jpg"
                                    alt="image name" class="pic"></span>
                              <figcaption>
                                 Pure Cotton Shirt Slim Fit
                                 <span class="price">$10.00</span>
                              </figcaption>
                           </figure>
                        </a>
                     </li>
                     <li>
                        <a href="product-page.html">
                           <figure>
                              <span class="img-cover"><img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8438655/2019/1/30/2d6e66e8-f82c-47b8-8172-739d1d01c8991548846591934-Steve-Madden-Red-Solid-Sling-Bag-2691548846590745-1.jpg"
                                    alt="image name" class="pic"></span>
                              <figcaption>
                                 Woman Red Handy Bag
                                 <span class="price">990.00</span>
                              </figcaption>
                           </figure>
                        </a>
                        <a href="product-page.html">
                           <figure>
                              <span class="img-cover"><img src="assets/images/pr_5-small.jpg" alt="image name" class="pic"></span>
                              <figcaption>
                                 Man Black Leather Wallet
                                 <span class="price">$30.00</span>
                              </figcaption>
                           </figure>
                        </a>
                        <a href="product-page.html">
                           <figure>
                              <span class="img-cover"><img src="assets/images/pr_6-small.jpg" alt="image name" class="pic"></span>
                              <figcaption>
                                 Pure Cotton Shirt Slim Fit
                                 <span class="price">$10.00</span>
                              </figcaption>
                           </figure>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="twitter-box box-with-top-button mobile-collapse">
               <div class="title-type-1 mobile-collapse-header">
                  Twitter
               </div>
               <a class="top-box-btn-1 mobile-collapse-additional">Follow</a>
               <ul class="tweets-group list-unstyled mobile-collapse-body">
                  <li>
                     <p>Lorem ipsum dolor consectetur adipisicing exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. cupidatat non proident, sunt in culpa <a href="#">envato.team/Aop3Dp</a></p>
                     <span>17 June 2016</span>
                  </li>
                  <li>
                     <p>Lorem ipsum dolor consectetur adipisicing exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. cupidatat non proident, sunt in culpa <a href="#">envato.team/Aop3Dp</a></p>
                     <span>10 June 2016</span>
                  </li>
                  <li>
                     <p>Lorem ipsum dolor consectetur adipisicing exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. cupidatat non proident, sunt in culpa <a href="#">envato.team/Aop3Dp</a></p>
                     <span>01 June 2016</span>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-4">
            <div class="get-in-touch-box mobile-collapse">
               <div class="title-type-1 mobile-collapse-header">
                  Get IN TOUCH WITH US
               </div>
               <div class="tweets-group mobile-collapse-body">
                  <form action="/" class="validation-engine">
                     <div class="google-maps">
                        <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=connaught%20place+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
                           width="370" height="150"></iframe>
                     </div>
                     <div class="required form-group">
                        <input type="text" class="form-control validate[required]" data-prompt-position="topLeft"
                           placeholder="Enter your name">
                     </div>
                     <div class="required form-group">
                        <input type="text" class="form-control validate[required,custom[email]]" data-prompt-position="topLeft"
                           placeholder="Enter your email">
                     </div>
                     <div class="required form-group">
                        <textarea class="form-control validate[required]" data-prompt-position="topLeft" rows="3"
                           placeholder="Enter your message"></textarea>
                     </div>
                     <div class="required form-group">
                        <button class="btn btn-sm btn-yet-col arrow-btn" type="submit">Send Message</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- footer-1 end -->
<!-- footer-2 begin -->
<div id="footer-2">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="about-us-box mobile-collapse">
               <div class="title-type-1 mobile-collapse-header">
                  About Us
               </div>
               <div class="mobile-collapse-body">
                  <p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one store
                     to another in search of the latest phone when you can find it on the Internet in a single click?
                     Not only mobiles
                     What's more, with our year-round shopping festivals and events, our prices are irresistible. We're
                     sure you'll find yourself picking up more than what you had in mind. If you are wondering why you
                     should shop from Amcart when there are multiple options available to you, well, the below will
                     answer your question.
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="contact-info-box mobile-collapse">
               <div class="title-type-1 mobile-collapse-header">
                  Contact Info
               </div>
               <ul class="list-unstyled mobile-collapse-body">
                  <li><span><i class="icon-pointer"></i></span><span>Shop+, Connaught Place, New Delhi, India</span></li>
                  <li><span><i class="icon-screen-smartphone"></i></span><span> +91-99100-64849</span></li>
                  <li><a href="mailto:your@email.com"><span><i class="icon-envelope "></i></span><span>amcart@email.com</span></a></li>
                  <li><a href="http://envato.com"><span><i class="icon-globe"></i></span><span>www.amcart.ml</span></a></li>
               </ul>
            </div>
         </div>
         <div class="col-md-4">
            <div class="facebox-fan-box box-with-top-button mobile-collapse">
               <div class="title-type-1 mobile-collapse-header">
                  Facebook Fans
               </div>
               <div id="fb-fans" class="mobile-collapse-body">
                  <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width=360&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=388032001306737"></iframe>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- footer-2 end -->
<!-- footer-3 begin -->
<div id="footer-3">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-12">
            <div class="information-box mobile-collapse">
               <div class="title-type-2 mobile-collapse-header">
                  Information
               </div>
               <ul class="list-unstyled mobile-collapse-body">
                  <li>
                     <a href="category.html">
                        Bestsellers
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        New product
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        Special product
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        Featured product
                     </a>
                  </li>
                  <li>
                     <a href="contact.html">
                        Contact
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-3 col-sm-12">
            <div class="product-tags-box mobile-collapse">
               <div class="title-type-2 mobile-collapse-header">
                  Product Tags
               </div>
               <div class="tags mobile-collapse-body">
                  <a href="contact.html">Men</a>
                  <a href="contact.html">Furniture</a>
                  <a href="contact.html">Electronic</a>
                  <a href="contact.html">Fabric</a>
                  <a href="contact.html">Jackets</a>
                  <a href="contact.html">Clothes</a>
                  <a href="contact.html">Flowers</a>
                  <a href="contact.html">Book</a>
                  <a href="contact.html">Shorts</a>
               </div>
            </div>
         </div>
         <div class="col-md-3 col-sm-12">
            <div class="my-account-box mobile-collapse">
               <div class="title-type-2 mobile-collapse-header">
                  My Account
               </div>
               <ul class="list-unstyled mobile-collapse-body">
                  <li>
                     <a href="account.html">
                        My Account
                     </a>
                  </li>
                  <li>
                     <a href="wishlist.html">
                        Wishlist
                     </a>
                  </li>
                  <li>
                     <a href="review_page.html">
                        Testimonials
                     </a>
                  </li>
                  <li>
                     <a href="coming-soon.html">
                        Newsletter
                     </a>
                  </li>
                  <li>
                     <a href="blog.html">
                        Blog
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-md-3 col-sm-12">
            <div class="main-categories-box mobile-collapse">
               <div class="title-type-2 mobile-collapse-header">
                  Main Categories
               </div>
               <ul class="list-unstyled mobile-collapse-body">
                  <li>
                     <a href="category.html">
                        For Men
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        Jeans
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        Jackets
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        For Her
                     </a>
                  </li>
                  <li>
                     <a href="category.html">
                        Accessories
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- footer-3 end -->
<!-- footer-4 begin -->
<div id="footer-4">
   <div class="container">
      <div class="row">
         <div class="col-md-6 text-center-md">
            <img src="assets/images/credit-cards.png" alt="accepted credit cards">
         </div>
         <div class="col-md-6 text-right text-center-md">
            <ul id="social-buttons" class="list-inline">
               <li class="facebook"><a href="#"><i class="icon-social-facebook"></i></a></li>
               <li class="tweeter"><a href="#"><i class="icon-social-twitter "></i></a></li>
               <li class="gplus"><a href="#"><i class="social_googleplus "></i></a></li>
               <li class="youtube"><a href="#"><i class="social_youtube"></i></a></li>
               <li class="instantgram"><a href="#"><i class="social_instagram "></i></a></li>
               <li class="skype"><a href="#"><i class="social_skype"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<!-- footer-4 end -->
<!-- footer-5 begin -->
<div id="footer-5">

   <div class="container">
      <p class="copyright">
         © 2018 Nagarro. All right reseved. Made with <i class="icon_heart"></i>
      </p>
   </div>

</div>
<!-- footer-5 end -->