.Black{
    background-color: black
}

.White{
    background-color: white
}

.Blue{
    background-color: blue
}

.Brown{
    background-color: brown
}

.Camel{
    background-color:rgb(175, 142, 93) !important;
}

.Silver{
    background-color: rgb(221, 223, 224)
}

.Sky{
    background-color: rgb(137, 190, 216) !important;
}

.onesize{
    width: 100% !important;
}