<div class="centre-align">
  <h3>Add Product</h3>
  <form #form="ngForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="type-text">Name<br><input type="text" name="productName" class="form-control placeholder-fix"
              required [(ngModel)]="name"></label>
        </div>
        <div class="form-group">
          <label class="type-text">Price<br><input type="number" name="price" class="form-control placeholder-fix"
              required [(ngModel)]="price"></label>
        </div>
        <div class="form-group">
            <label class="type-text">Quantity<br><input type="number" name="price" class="form-control placeholder-fix"
                required [(ngModel)]="quantity"></label>
          </div>
        <div class="form-group">
          <label class="type-text">Category<br>
            <p-multiSelect [options]="categories" [(ngModel)]="selectedCategories" name="category"
              [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
          </label>
        </div>
        <div class="form-group">
          <label class="type-text">Additional Categories</label>
          <p-chips [(ngModel)]="additionalCategories" name="additionalCategories"></p-chips>
        </div>
        <div class="form-group">
          <label class="type-text">Dynamic Category<br>
            <p-multiSelect [options]="dynamicCategories" [(ngModel)]="selectedDynamicCategories"
              name="dynamicCategories" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
          </label>
        </div>
        <div class="form-group">
          <label class="type-text">Short Description<br><input type="text" name="shortDesc"
              class="form-control placeholder-fix" required [(ngModel)]="shortDesc"></label>
        </div>
        <div class="form-group">
          <label class="type-text">Long Description<br><input type="text" name="longDesc"
              class="form-control placeholder-fix" required [(ngModel)]="longDesc"></label>
        </div>
        <div class="form-group">
          <label class="type-text">Color</label>
          <p-chips [(ngModel)]="color" name="color" ></p-chips>
        </div>
        <div class="form-group">
            <label class="type-text">Size</label>
            <p-chips [(ngModel)]="size" name="size"></p-chips>
          </div>
      </div>

    </div>
    <div class="row">
      <button type="button" [disabled]="form.invalid" class="btn btn-primary pull-left"
        (click)="submitForm(form.value)">Add Product</button>

    </div>
  </form>
</div>