<div id="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 top-search-box hidden-sm hidden-xs">
        <form action="/" method="post">
          <div class="required form-group">
            <input type="text" name="search_query" placeholder="Search" class="placeholder-fix top-search" autocomplete="off">
            <button>
              <i class="icon_search field-icon"></i>
            </button>
          </div>
        </form>
      </div>
      <div id="header-logo" class="col-md-6 col-sm-12">
        <a href="#">
          <img src="assets/images/logo.svg" class="logo center-block hidden-xs" alt="Shop+">
          <img src="assets/images/logo.svg" class="logo center-block visible-xs hidden-sm" alt="Shop+">
        </a>
      </div>
      <cart-peek [isLoggedIn]="isLoggedIn()"></cart-peek>
    </div>
  </div>
</div>
<div class="top-menu">
  <div class="container">
    <nav class="main-menu">
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#">
            <i class="icon-screen-desktop"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
            <span>
              <i class="icon-user"></i>Pages</span>
          </a>
          <div class="sub-nav full padding">
            <div class="row">
              <div class="col-md-3">
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="basic-page.html">
                      <span>Basic Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="blog.html">
                      <span>Blog Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Category Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="account.html">
                      <span>Account Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="coming-soon.html">
                      <span>Coming Soon Page</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="contact.html">
                      <span>Contact Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="email_template.html">
                      <span>Email Template Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="login_register.html">
                      <span>Login Register Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="order-complete.html">
                      <span>Order Complete Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="order-history.html">
                      <span>Order History</span>
                    </a>
                  </li>

                </ul>
              </div>
              <div class="col-md-3">
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="shopping-cart.html">
                      <span>Shopping Cart Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="shortcodes.html">
                      <span>Shortcodes Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="single-blog.html">
                      <span>Single Blog Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="wishlist.html">
                      <span>Wishlist Page</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="product-page.html">
                      <span>Product Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="review_page.html">
                      <span>Review Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="checkout.html">
                      <span>Checkout Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="compare.html">
                      <span>Compare Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="404.html">
                      <span>404 Page</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
            <span>
              <i class="icon-user-female"></i> Women</span>
          </a>
          <div class="sub-nav full padding">
            <div class="row">
              <div class="col-md-3">
                <h3 class="sub-nav-title">Jackets</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Shirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jumper & Cardigans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Autumn Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Winter Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Leather Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jeans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shoes</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">ACCESSORIES</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Bags</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Beauty</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Underwear</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Glasses</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Leather Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jeans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shoes</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">SHOES</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shorts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jeans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Leather Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Suits & Blazers</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shoes</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="megamenu-popular box-with-pager">
                  <div class="sub-nav-title">
                    Popular products
                  </div>
                  <div>
                    <ul class="vertical-bx-1">
                      <li>
                        <a href="product-page.html">
                          <figure>
                            <span class="img-cover">
                              <img src="assets/images/pr_1-menu.jpg" alt="image name" class="pic">
                            </span>
                            <figcaption>
                              <p>Black Bag</p>
                              <span class="price">$950.00</span>
                              <span class="old-price">$990.00</span>
                            </figcaption>
                          </figure>
                        </a>
                      </li>
                      <li>
                        <a href="product-page.html">
                          <figure>
                            <span class="img-cover">
                              <img src="assets/images/pr_2-menu.jpg" alt="image name" class="pic">
                            </span>
                            <figcaption>
                              <p>Woman Red Handy Bag</p>
                              <span class="price">$950.00</span>
                              <span class="old-price">$990.00</span>
                            </figcaption>
                          </figure>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
            <span>
              <i class="icon-screen-desktop"></i> Electronics</span>
          </a>
          <div class="sub-nav">
            <ul class="sub-nav-group">
              <li>
                <a href="account.html">
                  <span>Account</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>New Product</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Special Product</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Featured Product</span>
                </a>
              </li>
              <li>
                <a href="contact.html">
                  <span>Contact</span>
                </a>
              </li>
              <li>
                <a href="shortcodes.html">
                  <span>Shortcodes</span>
                </a>
              </li>
              <li class="has-sub-nav">
                <a href="#">
                  <span>Submenu Left</span>
                </a>
                <div class="sub-nav left-side">
                  <ul class="sub-nav-group">
                    <li>
                      <a href="account.html">
                        <span>Account</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>New Product</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Special Product</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Featured Product</span>
                      </a>
                    </li>
                    <li>
                      <a href="contact.html">
                        <span>Contact</span>
                      </a>
                    </li>
                    <li>
                      <a href="shortcodes.html">
                        <span>Shortcodes</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a href="blog.html">
            <span>
              <i class="icon-pencil"></i> Blog</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="coming-soon.html">
            <span>
              <i class="icon-cup"></i> Popular</span>
          </a>
          <div class="sub-nav full padding">
            <div class="megamenu-popular mmp-type-2 box-with-pager">
              <ul class="vertical-bx-1">
                <li>
                  <div class="row">
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="assets/images/pr_1.jpg" alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">$950.00</span>
                            <span class="old-price">$990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="assets/images/pr_2.jpg" alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">$950.00</span>
                            <span class="old-price">$990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="assets/images/pr_3.jpg" alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">$950.00</span>
                            <span class="old-price">$990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="assets/images/pr_4.jpg" alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">$950.00</span>
                            <span class="old-price">$990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-4">
                <a href="blog.html" class="img-fade-hover">
                  <img src="assets/images/megamenu-btm1.jpg" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="blog.html" class="img-fade-hover">
                  <img src="assets/images/megamenu-btm2.jpg" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="blog.html" class="img-fade-hover">
                  <img src="assets/images/megamenu-btm3.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="contact.html">
            <span>
              <i class="icon-call-in"></i> Contact Us</span>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn()" (click)="login()" title="login">
            <i class="icon-login"></i> Login
          </a>
          <a *ngIf="isLoggedIn() && userDetails != null">
            <i class="icon-user"></i> {{userDetails.profile.given_name}}
          </a>
          <div *ngIf="isLoggedIn()" class="sub-nav">
            <ul class="sub-nav-group">
              <li>
                <a (click)="navigateToProfile()">
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a (click)="logout()">
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>