<div id="header-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 top-search-box hidden-sm hidden-xs">
        <form action="/" method="post">
          <div class="required form-group">
            <input type="text" name="search_query" placeholder="Search" class="placeholder-fix top-search" autocomplete="off"
              (keydown.enter)="searchProducts($event)">
            <button>
              <i class="icon_search field-icon"></i>
            </button>
          </div>
        </form>
      </div>
      <div id="header-logo" class="col-md-6 col-sm-12">
        <a href="#">
          <img src="assets/images/logo.svg" class="logo center-block hidden-xs" alt="Shop+">
          <img src="assets/images/logo.svg" class="logo center-block visible-xs hidden-sm" alt="Shop+">
        </a>
      </div>
      <cart-peek [isLoggedIn]="isLoggedIn()"></cart-peek>
    </div>
  </div>
</div>
<div class="top-menu">
  <div class="container">
    <nav class="main-menu">
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#">
            <i class="icon-screen-desktop"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
            <span>
              <i class="icon-user-female"></i> Women
            </span>
          </a>
          <div class="sub-nav full padding">
            <div class="row">
              <div class="col-md-3">
                <h3 class="sub-nav-title">Western Wear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Shirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>T-Shirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shorts and Skirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jeans and Leggings</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jumpsuits, Dresses and Shrugs</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">ACCESSORIES</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Bags</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Beauty</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Fashion Jwellery</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Smart Wearables</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">Sports and Active Wear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Clothing</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Footwear</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Sports Accessories</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Sports Equipments</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
            <span>
              <i class="icon-user"></i> Men
            </span>
          </a>
          <div class="sub-nav full padding">
            <div class="row">
              <div class="col-md-3">
                <h3 class="sub-nav-title">Topwear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Shirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Jumper & Cardigans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Autumn Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Winter Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Leather Jackets</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">ACCESSORIES</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Wallets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Belts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Caps & Hats</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Glasses</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Rings and Wrist Wear</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Muffler, Scarves and Gloves</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">Footwear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Casual Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Sports Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Formal Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Sneakers</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">BottomWear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Jeans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Casual Trousers</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Formal Trousers</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shorts</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
            <span>
              <i class="icon-user"></i> Kids
            </span>
          </a>
          <div class="sub-nav full padding">
            <div class="row">
              <div class="col-md-3">
                <h3 class="sub-nav-title">Topwear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Shirts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Winter Jackets</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Leather Jackets</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">ACCESSORIES</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Belts</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Caps & Hats</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Glasses</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">Footwear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Casual Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Sports Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Formal Shoes</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Sneakers</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3 class="sub-nav-title">BottomWear</h3>
                <ul class="sub-nav-group sub-nav-grey">
                  <li>
                    <a href="category.html">
                      <span>Jeans</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Casual Trousers</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Formal Trousers</span>
                    </a>
                  </li>
                  <li>
                    <a href="category.html">
                      <span>Shorts</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a href="http://blog.trendaddictions.com/">
            <span>
              <i class="icon-pencil"></i> Blog
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="coming-soon.html">
            <span>
              <i class="icon-cup"></i> Popular</span>
          </a>
          <div class="sub-nav full padding">
            <div class="megamenu-popular mmp-type-2 box-with-pager">
              <ul class="vertical-bx-1">
                <li>
                  <div class="row">
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8438655/2019/1/30/2d6e66e8-f82c-47b8-8172-739d1d01c8991548846591934-Steve-Madden-Red-Solid-Sling-Bag-2691548846590745-1.jpg"
                              alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">₹950.00</span>
                            <span class="old-price">₹990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/8194315/2019/2/5/41c8e2af-8184-48b1-9a8d-f0a190f579611549351850756-Nike-Men-Blue-LEGEND-REACT-Running-Shoes-1841549351849425-1.jpg"
                              alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">₹950.00</span>
                            <span class="old-price">₹990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/7256748/2018/8/31/493ea6af-fde2-4150-a5a0-fc53544497171535706903780-Mayra-Women-Navy-Blue-Printed-Blouson-Top-8701535706903426-1.jpg"
                              alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">₹950.00</span>
                            <span class="old-price">₹990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a href="product-page.html">
                        <figure>
                          <span class="img-cover">
                            <img src="https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/2430371/2018/1/29/11517222460982-na-4851517222460837-1.jpg"
                              alt="image name" class="pic">
                          </span>
                          <figcaption>
                            <p>Woman Red Handy Bag</p>
                            <span class="price">₹950.00</span>
                            <span class="old-price">₹990.00</span>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- <div class="row">
              <div class="col-md-4">
                <a href="blog.html" class="img-fade-hover">
                  <img src="assets/images/megamenu-btm1.jpg" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="blog.html" class="img-fade-hover">
                  <img src="assets/images/megamenu-btm2.jpg" alt="">
                </a>
              </div>
              <div class="col-md-4">
                <a href="blog.html" class="img-fade-hover">
                  <img src="assets/images/megamenu-btm3.jpg" alt="">
                </a>
              </div>
            </div> -->
          </div>
        </li>
        <li class="nav-item">
          <a href="contact.html">
            <span>
              <i class="icon-call-in"></i> Contact Us</span>
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn()" (click)="login()" title="login">
            <i class="icon-login"></i> Login
          </a>
          <a *ngIf="isLoggedIn() && userDetails != null">
            <i class="icon-user"></i> {{userDetails.profile.given_name}}
          </a>
          <div *ngIf="isLoggedIn()" class="sub-nav">
            <ul class="sub-nav-group">
              <li>
                <a (click)="navigateToProfile()">
                  <span>Profile</span>
                </a>
              </li>
              <li>
                <a (click)="logout()">
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>