<div class="col-md-4 col-sm-6 pl-item">
  <figure>
    <a href="#">
      <img src="images/products/thumbs/1.jpg" alt="">
    </a>
    <label class="pl-badge">{{product.Label}}</label>
    <figcaption>
      <a href="#" class="pl-button pl-addcart" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Cart"><i
          class="icon-bag"></i></a>
      <a href="#" class="pl-button pl-qview" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quick View"><i
          class="icon-eye"></i></a>
      <a href="#" class="pl-button pl-compare" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare"><i
          class="arrow_left-right_alt"></i></a>
      <a href="#" class="pl-button pl-wishlist" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add To Wish List"><i
          class="icon-heart"></i></a>
    </figcaption>
  </figure>
  <div class="pl-caption">
    <p class="pl-price-block">
      <span class="pl-price-old">$ {{product.OldCost }}</span>
      <span class="pl-price">$ 900.00</span>
    </p>
    <p class="pl-name">Pure Cotton Shirt Slim Fit</p>
    <span class="stars-rating stars-4"><span class="stars"></span></span>
  </div>
</div>