<div *ngIf='product' class="col-md-3 col-sm-6 pl-item">
  <figure>
    <!-- <a href="#"> -->
    <img alt="" src="{{product.ImageUrl[0]}}">
    <!-- </a> -->
    <label *ngIf="product.DynamicCategories.indexOf('RecentlyAdded') !== -1" class="pl-badge">NEW</label>
    <label *ngIf="product.DynamicCategories.indexOf('Popular') !== -1" class="pl-badge">POPULAR</label>
	<label *ngIf="product.DynamicCategories.indexOf('Bestseller') !== -1" class="pl-badge">BESTSELLER</label>
    <app-product-caption [product]="product"></app-product-caption>
  </figure>
  <div class="pl-caption">
    <p class="pl-price-block">
      <!-- <span class="pl-price-old">₹ 950.00</span> -->
      <span class="pl-price">₹ {{product?.Price}}</span>
    </p>
    <p class="pl-name">{{product?.Name}}</p>
    <span class="stars-rating stars-{{product.Rating}}">
      <span class="stars"></span>
    </span>
  </div>
</div>